<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="<%= root_path %>">
		<%= t(:app_name) %>
	</a>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<% if @game && @game.persisted? %>
				<li class="nav-item active">
					<a class="nav-link" href="<%= game_path(@game) %>">
						<%= @game.name %>
						<span class="sr-only">(current)</span>
					</a>
				</li>
			<% end %>
			<li class="nav-item <%= (@game && @game.new_record?) ? 'active' : '' %>">
				<%= link_to "#{t(:new).capitalize} #{Game.model_name.human}", new_game_path, method: :get, class: 'nav-link' %>
			</li>
		</ul>
	</div>
</nav>
