<h3>About</h3>

<p>This app is a mobile web app; nothing needs to be installed on your phone/handheld device, just visit the <%= link_to 'web page', root_url %>.</p>
<ol>
	<li>The spymaster should first use this app on their small device to create a <%= link_to 'New Game', new_game_path %>, and enter the words and red/blue for each square. Then keep the app hidden, and use it when giving clues; it will be a “remote control” to reveal squares on the big-screen device when your team makes their guesses.</li>
	<li>Then you should also run this app on the big-screen device, choosing the named game the spymaster just created. It will show all the words, but only the revealed colors as the game progresses. It updates automatically in response to actions performed on the small device.</li>
</ol>

<h4>So What Is This?</h4>

<p>This is a “big-screen display” companion app for the <%= link_to 'Codenames', 'https://en.wikipedia.org/wiki/Codenames_(board_game)' %> board game by Czech Games.</p>

<p>We find (especially with a large group) that Codenames is more fun to play in the living room, where people can sit wherever they’d like instead of seated around a table. What’s needed is a big display of the board that everyone can see. The television is ideal for this!</p>

<h4>Software</h4>

<p><i>Please note</i> that this app is in “rough beta” status. I recommend you record the 25 words you’re using before you start each game, just in case anything goes wrong. (Taking a picture of the big-screen device is one easy way.)</p>

<p>If you'd like to see the code behind the app, it’s on <a href="https://github.com/bjnord/codenames">Github</a>. <%= link_to 'Feedback welcome.', contact_path %></p>

<h4>Credits</h4>

<p>Thanks to my nephew Mark for the idea of using the TV, and to my son Doug for demonstrating this concept using a shared/live Google Sheets spreadsheet, inspiring me to write this app.</p>

<h4>Copyright</h4>

<p>This companion app is Copyright © 2018-2021 Brent J. Nordquist.</p>

<h4>Legal Disclaimer</h4>

<p>This companion app and its authors are not affiliated with <%= link_to 'Czech Games', 'https://czechgames.com/' %>, the makers of the <%= link_to 'Codenames', 'http://codenamesgame.com/' %> board game. The companion app cannot replace the board game itself for purposes of game play. We love this game and encourage you to purchase it!</p>
