<%= form_with model: @game, local: true do |f| %>
	<div id="new-game-card" class="card card-default">
		<div class="card-body">
			<h4 class="card-title">Create a new game</h4>
			<%= render 'form_errors', game: @game %>
			<div class="form-group">
				<%= f.label :name %>
				<%# FIXME how to add aria-describedby="game_name_help" ? %>
				<%= f.text_field :name, size: 20, class: 'form-control', placeholder: "#{t(:enter).capitalize} #{Game.human_attribute_name(:name)}", autofocus: true %>
				<small id="game_name_help" class="form-text text-muted"><%= t(:game_name_help) %></small>
			</div>
			<div class="form-group">
				Who will start the game?
				&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :starts, 'Random' %>
				<%= f.radio_button :starts, 'random', :checked => true %>
				&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :starts, 'Blue' %>
				<%= f.radio_button :starts, 'blue' %>
				&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :starts, 'Red' %>
				<%= f.radio_button :starts, 'red' %>
			</div>
			<div class="form-group">
				<%= f.submit class: 'btn btn-success' %>
			</div>
		</div>
	</div>
<% end %>
